body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/********Header styles starts here *****/

.navbar-brand img {
  height: 4rem;
  margin-left: 155px;
}

@media (max-width: 960px) {
  .navbar-brand img {
    margin-left: 5%;
  }
}

a {
  color: #3d6cb9;
  text-decoration: none;
  font-weight: 700;
}

.navi-links {
  margin-right: 125px;
}

.mobile-nav {
  background-color: #3d6cb9;
  border: none;
}

.mobile-nav:hover {
  border: none;
  background-color: #3d6cb99c;
}

h3 {
  color: #f90;
}

.navbar1 {
  background-color: #f90;
}

.app-name {
  color: white;
}

/*** Header styles ends here ********************/

/* Carousel style starts here *******************/

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.carousel-bg {
  height: 65vh;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.d-block {
  height: 90vh;
}

.btn-lg {
  background-color: #3379b794;
  border: none;
}

.btn-lg:hover {
  background-color: #f90;
  border: none;
}

.carousel {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 7px;
}

.carousel-item {
  height: 90vh;
}

.carousel-caption {
  color: #fff;
}

.text-primary {
  font-size: 16px;
  text-align: right;
}

h3 {
  text-align: left;
}

/********** Content Styling starts here *******/
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.contents {
  background: #3d6cb9;
  padding: 8px;
  color: #f9f9f9;
}

.pb-5,
.py-5 {
  padding-bottom: 2rem;
}

.pt-5,
.py-5 {
  padding-top: 2rem;
}

.content {
  background: #f90;
  padding: 8px;
  color: #f9f9f9;
}

.btn-sm {
  color: #3d6cb9;
  background: #f9f9f9;
  padding: 2px 10px;
  text-align: center;
}

.content-separator {
  border: 1px solid #337ab7;
  background-color: #3d6cb9;
  margin-bottom: -5px;
}

.sponsors-text {
  color: #f90;
  font-weight: 600;
  text-align: left;
  margin-bottom: 13px;
}

.sponsors {
  list-style-type: none;
  text-align: center;
}

.sp-links {
  display: inline;
  margin-right: 50px;
}

.sp-container {
  margin-top: -13px;
}

.sponsor-logo {
  text-align: center;
  margin-bottom: 8px;
}

/********** Content styling ends here ******/

/*** Footer starts here ***/
.footer {
  background-color: #487aca5d;
  height: 70px;
  color: #fff;
  margin-top: 4rem;
}

.foot-text {
  padding-top: 20px;
}

.footer-img img {
  height: 2rem;
  margin-left: 3rem;
}

@media (max-width: 960px) {
  .footer-img img {
    height: 1rem;
    margin-left: 1rem;
  }
}

.social {
  margin-left: 10px;
}
