 
<html>
<head><title>Confirm your Registration now</title></head>
<body>
  <div> Dear {{firstName}},</div>
  
    <p> You are just one step away from activating your account on the 
        eaZSME platform.</p>
    <p>
        <a href="{{verifyUrl}}">==>> Active your account now! <==</a>
    </p>

    <p>
        Have a great adventure!
        <br/>
        eaZSME
    </p>     
</body>
</html>